.lobby-wrapper {
    border: 2px, solid, red;
    border-radius: 15px;
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobby-list-wrapper {
    border-radius: 15px;
    background-color: darkblue;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.lobby-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.username {
    color: aliceblue;
}
